<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>ALL-IN KITAPP</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon1024x1024</string>
				<string>AppIcon180x180</string>
				<string>AppIcon167x167</string>
				<string>AppIcon152x152</string>
				<string>AppIcon120x120</string>
				<string>AppIcon87x87</string>
				<string>AppIcon20x20</string>
				<string>AppIcon29x29</string>
				<string>AppIcon40x40</string>
				<string>AppIcon58x58</string>
				<string>AppIcon80x80</string>
				<string>AppIcon60x60</string>
				<string>AppIcon76x76</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon1024x1024</string>
				<string>AppIcon180x180</string>
				<string>AppIcon167x167</string>
				<string>AppIcon152x152</string>
				<string>AppIcon120x120</string>
				<string>AppIcon87x87</string>
				<string>AppIcon20x20</string>
				<string>AppIcon29x29</string>
				<string>AppIcon40x40</string>
				<string>AppIcon58x58</string>
				<string>AppIcon80x80</string>
				<string>AppIcon60x60</string>
				<string>AppIcon76x76</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>This app wants to take pictures.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app wants to use your photos.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Roboto-Black</string>
		<string>Roboto-Thin.tff</string>
		<string>Roboto-Bold.tff</string>
		<string>Roboto-BlackItalic.tff</string>
		<string>Roboto-Italic.tff</string>
		<string>Lato-Light.tff</string>
		<string>Lato-BoldItalic.tff</string>
		<string>Roboto-LightItalic.tff</string>
		<string>Roboto-BoldItalic.tff</string>
		<string>RobotoCondensed-Regular.tff</string>
		<string>Roboto-ThinItalic.tff</string>
		<string>RobotoCondensed-LightItalic.tff</string>
		<string>Lato-BlackItalic.tff</string>
		<string>Lato-Hairline.tff</string>
		<string>RobotoCondensed-BoldItalic.tff</string>
		<string>Lato-Regular.tff</string>
		<string>RobotoCondensed-Italic.tff</string>
		<string>Roboto-MediumItalic.tff</string>
		<string>Lato-HairlineItalic.tff</string>
		<string>Roboto-Regular.tff</string>
		<string>RobotoCondensed-Light.tff</string>
		<string>RobotoCondensed-Bold.tff</string>
		<string>Lato-Black.tff</string>
		<string>Lato-Bold.tff</string>
		<string>Roboto-Light.tff</string>
		<string>Lato-LightItalic.tff</string>
		<string>Roboto-Medium.tff</string>
		<string>Lato-Italic.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
